.the-editor {
  overflow: hidden;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "editor"
    "table-of-result";
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;

  &__ace {
    grid-area: editor;
    overflow: hidden;
  }

  &__query-result-table {
    grid-area: table-of-result;
    overflow: hidden;
  }
}
