@use "sass:math";
@use "@/assets/stylesheet/breakpoints" as B;

$--flex-gap-x: 2rem;
$--flex-gap-y: 1rem;

.dt-pagination {
  width: 100%;
  font-size: 0.875rem;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right: none;
  border-left: none;

  background-color: rgb(36, 38, 44);

  &__per-page-selector,
  &__page-selector {
    padding: 0.5rem 1rem;
  }

  &__per-page-selector {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__per-page-selector {
    select {
      width: 170px !important;
    }
  }

  &__page-selector {
    &__info {
      margin: 0;
      margin-bottom: 1em;
      opacity: 0.5;
    }
  }

  &__select {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &__label {
      display: inline-block;
      flex: 1 1 auto;

      &::after {
        content: ":";
        display: none;
      }
    }

    select {
      flex: 0 0 auto;
      overflow: hidden;
      display: inline-block;
      width: 72px;
      margin: 0 0.5em;
      padding: 0.5em 0;
      border-radius: none;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      background-color: #27282b;

      option {
        background-color: inherit;
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  &__btn-skip-prev,
  &__btn-prev,
  &__btn-next,
  &__btn-skip-next {
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: currentColor;
    opacity: 0.5;
    transition: all 0.3s ease;
    transition-property: opacity;

    &:hover {
      opacity: 1;
    }
  }

  &__btn-skip-prev {
    margin-left: 1em;
  }

  &--disabled {
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.25) !important;

    * {
      pointer-events: none;
    }
  }
}

@include B.md() {
  .dt-pagination {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    &__per-page-selector {
      order: 2;
      border-bottom: none;

      select {
        width: 72px !important;
      }
    }

    &__page-selector {
      order: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &__info {
        margin-right: 4em;
        margin-bottom: 0;
      }
    }

    &__select__label::after {
      display: inline-block;
    }
  }
}
