html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

body * {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
}